<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 配置重写的role过滤器 -->
    <bean id="anyRoles" class="cn.marve1ous.shiro.MyRolesAuthorizationFilter"/>

    <!-- 配置重写的permission过滤器 -->
    <bean id="anyPerms" class="cn.marve1ous.shiro.MyPermissionsAuthorizationFilter"/>

    <!-- 配置过滤链 -->
    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <!-- 权限管理器 -->
        <property name="securityManager" ref="securityManager"/>
        <!-- 登录地址 -->
        <property name="loginUrl" value="/sign-in.html"/>
        <!-- 登录后跳转到业务页面 -->
        <!-- <property name="successUrl" value="/"/> -->
        <!-- 错误页面 -->
        <property name="unauthorizedUrl" value="/unauth"/>
        <!-- 权限配置 -->
        <property name="filterChainDefinitions">
            <value>
                /sign-in.html = anon
                /login = anon
                /find.html = anon
                /found = anon
                /signup = anon
                /unauth = anon
                /unauthorized = anon

                / = authc
                /index.html = authc
                /logout = authc
                /userinfo.html = authc
                /userpwd.html = authc
                /changepwd = authc
                /info = authc
                /grademe.html = anyRoles[student]
                /gradeadd.html = anyRoles[admin, teacher]
                /gradeinfo.html = anyRoles[admin, teacher]
                /resultadd.html = anyRoles[admin]
                /resultinfo.html = anyRoles[admin]
                /turninfo.html = anyRoles[admin]
                /turnact.html = anyRoles[admin]
                /turnchart.html = anyRoles[admin]
                /stuinfo.html = anyRoles[admin]
                /stuadd.html = anyRoles[admin]
                /studentInsert = anyRoles[admin]
                /studentModify = anyRoles[admin]
                /getStudent = anyRoles[admin]
                /getGrade = anyRoles[student]
                /getMyStudent = anyRoles[admin, teacher]
                /uploadGrade = anyRoles[admin, teacher]
                /resultInsert = anyRoles[admin]
                /resultSearch = anyRoles[admin]
                /resultManage = anyRoles[admin]
                /turnInfo = anyRoles[admin]
                /turnDo = anyRoles[admin]
                /turnAll = anyRoles[admin]
                 <!-- 权限 -->
<!--                /get* = anyPerms[search]-->
                <!-- 角色 -->
<!--                /user/** = anyRoles[admin]-->
            </value>
        </property>
    </bean>

    <!-- 配置securityManager -->
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="realm" ref="myRealm"/>
    </bean>

    <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>

    <!-- 配置realm -->
    <bean id="myRealm" class="cn.marve1ous.shiro.SystemAuthorizingRealm"/>

    <!-- 开启shiro注解 -->
    <bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"
          depends-on="lifecycleBeanPostProcessor"/>
    <bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
        <property name="securityManager" ref="securityManager"/>
    </bean>
</beans>