<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.marve1ous.dao.UserDao">
    
    <!--  ResultMap 用map接收 List<Map<Object,Object>>  -->
    <select id="selectById" parameterType="int" resultType="cn.marve1ous.model.User">
        SELECT *
        FROM User
        WHERE id = #{id}
    </select>
    <select id="all" resultType="cn.marve1ous.model.User">
        SELECT *
        FROM User
    </select>
    <select id="getUserPwd" parameterType="int" resultType="String">
        SELECT pwd
        FROM User
        WHERE id = #{id}
    </select>
    <select id="getUserRole" parameterType="int" resultType="String">
        SELECT rolename
        FROM UserRole,
             Role
        WHERE UserRole.role_id = Role.id
          AND UserRole.user_id = #{id}
    </select>
    <select id="getPermissionByRole" parameterType="String" resultType="String">
        SELECT name
        FROM Permission,
             PermissionRole,
             Role
        WHERE Permission.id = PermissionRole.permission_id
          AND Role.id = PermissionRole.role_id
          AND rolename = #{role}
    </select>
</mapper>